/* Style sheet for main site 
* {
    border: 1px solid red;
}*/
body {
    padding: 10px;
}
#header {
    height: 50px;
}
#main {
    text-align: center;
    height: 500px;
    padding: 50px 10px 10px 10px;
}
    #main p {
        margin: 10px;
    }
#about {
    height: 300px;
    padding: 70px 300px;
    color: #fff;
    background-color: #165F30;
}
#faq {
    padding: 30px 300px;
    background-color: #F4FAD2;
}
#sponsors {
    height: 300px;
    padding: 20px 100px;
}
#smedia {
    /* margin: 100% auto; */
    height: 100px;
    padding: 10px 450px;
    background-color: #000;
    color: #fff;
}
    #smedia p {
       /* margin: 100% auto; */
        display: inline-block;
        text-align: center;
    }
