/* Style sheet for main site 
Theme: Autumn Moon
#315791 - dark blue by Valerinka
#A27010 - Reaction Fairy by colourslave
#8D7F66 - dark beige by jess3110
#0F0A05 - double black Coffee by mabills
#F8C250 - caramel by feely
#166030 - SCHS green
* {
    border: 1px solid red;
}*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
html {
    scroll-behavior: smooth;
}
body {
    padding: 10px;
    font-family: 'Alegreya', serif;
}
.lForm {
    display:none;
}
#header {
    height: 50px;
} 
    #header h3 {
        font-size: 2em;
        color: #245c37;
    }
#main {
    text-align: center;
    height: 600px;
    padding: 50px 10px 10px 10px;
}
    #main h1 {
    font-size: 4em;
    color: #315791;
}
    #main p {
        margin: 10px;
    }
#about {
    /*height: 450px; */
    /* padding: 100px 300px; */
    padding: 100px;
    color: #fff;
    /*background-color: #165F30;*/
    background-color: #0F0A05;
}
#faq {
    /* padding: 70px 300px; */
    padding: 100px;
    background-color:#8D7F66 ;
}
#sponsors {
    height: 300px;
    padding: 20px 100px;
}
#smedia {
    height: 100px;
    margin-top: 10px;
    padding: 30px 0 10px 0;
    background-color: #000;
    color: #fff;
}
    #smedia p {
        display: block;
        text-align: center;
    }
#login {
    width: 600px;
    padding: 20px;
    background: #FFFEE4;
}
