<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS | Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="container">
        <div id="header">
            <h3>HackSCHS | Admin Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-2">
                <div id="nav">
                    <img src="{{ url_for('static', filename='img/hackSCHS18.png') }}" alt="" width="75" height="175">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/update/user">Update</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="section">
                    <h2>Welcome {{name}}</h2>
                    <p><em>Registration Deadline: </em>Monday, February 24th 2019, 11:59 pm (Eastern)</p>
                    <!--Registration data-->
                    <table class="table">
                        <thead class="thead-info">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Gender</th>
                                <th>Ethnicity</th>
                                <th>School</th>
                                <th>Grad. Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for hacker in hackers%}
                            <tr>
                                <td>{{hacker.first_name}} {{hacker.last_name}}</td>
                                <td>{{hacker.email}}</td>
                                <td>{{hacker.phone}}</td>
                                <td>{{hacker.gender}}</td>
                                <td>{{hacker.ethnicity}}</td>
                                <td>{{hacker.school}}</td>
                                <td>{{hacker.graduation}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <!--Parant contact-->
                    <div class="row">
                        <div class="col-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Name</th>
                                        <th>Parent Name</th>
                                        <th>Parent Contact</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    {%for parent in parents%}
                                    <tr>
                                        <td>{{fname}} {{lname}}</td>
                                        <td>{{parent.parent_first}} {{parent.parent_last}}</td>
                                        <td>{{parent.parent_phone}} | {{parent.parent_email}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                            <!-- school data goes here-->
                        <div class="col-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>School</th>
                                        <th>Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for school in schools%}
                                    <tr>
                                        <td>{{fname}} {{lname}}</td>
                                        <td>{{school.school}}</td>
                                        <td>{{year}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- bonus data goes here -->
                    <div class="col-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Career Goal</th>
                                    <th>Favorite Language</th>
                                    <th>Hobby</th>
                                    <th>Hackathon Goal</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <th>{{first_name}} {{last_name}}</th>
                                    <td>{{career}}</td>
                                    <td>{{language}}</td>
                                    <th>{{hobby}}</th>
                                    <th>{{goal}}</th>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="smedia">
            <p>&copy; 2019-2020 HackSCHS | St. Charles High School</p>
        </div>
        
    </div>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>