<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hackSCHS Attendee Data</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="container">
        <div id="header">
            <h3>HackSCHS | Admin Dashboard <span>Attendee Data</span></h3>
        </div>
        <div class="row">
            <div class="col-2">
                <div id="nav">
                    <img src="{{ url_for('static', filename='img/hackSCHS18.png') }}" alt="" width="75" height="175">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/admindash">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="section">
                    <h2>Welcome {{name}}</h2>
                    <p><em>Registration Deadline: </em>Monday, February 24th 2019, 11:59 pm (Eastern)</p>
                        <hr>
                    
                    <h3>Attendee Data</h3>
                        <hr>
                            <h4>{{hacker.first_name}} {{hacker.last_name}}</h4>
                            <p>Email: {{hacker.email}}</p>
                            <p>Phone: {{hacker.phone}}</p>
                            <p>Gender: {{gender.gender}}</p>
                            <p>Ethnicity: {{race.ethnicity}}</p>
                            <p>Graduation year: {{year.graduation}}</p>
                            <p>Hackathon Goal: {{hack.goal}}</p>
                        <hr>
                    
                    <h3>Parent Info</h3>
                        <hr>
                            <p>Parent Contact: {{contact.parent_first}} {{contact.parent_last}} | Phone: {{contact.parent_phone}} | email: {{contact.parent_email}}</p>
                        <hr>
                    
                    <h3>School Info</h3>
                        <hr>
                            <p>School: {{sdata.school}}</p>

                    <h3>Bonus Info</h3>
                        <hr>
                            <p>Favorite Language: {{extra.language}}</p>
                            <p>Hobby: {{extra.hobby}} </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>