<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS | Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>HackSCHS | Dashboard</h1>
        </div>
        <div class="section">
            <h3>Your Status</h3>
                <p><em>Registration Deadline:</em>Monday, February 24th 2019, 11:59 pm (Eastern)</p>
        </div>
        <p>&copy; 2019 St. Charles High School</p>
    </div>
</body>
</html>