<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS | Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="container">
        <div id="header">
            <h3>HackSCHS | Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-2">
                <div id="nav">
                    <img src="{{ url_for('static', filename='img/hackSCHS18.png') }}" alt="" width="75" height="175">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/user/account">Update</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout<a></li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="section">
                    <h2>Welcome {{user.first_name}}</h2>
                    <h3>Your Status | Registered</h3>
                    <p><em>Registration Deadline: </em>Monday, February 24th 2019, 11:59 pm (Eastern)</p>
                    <p>Email: {{user.email}}</p>
                    <p>Phone: {{user.phone}}</p>
                    <p>Parent Contact: {{data.parent_first}} {{data.parent_last}} | Phone: {{data.parent_phone}} | email: {{data.parent_email}}</p>
                    <p>School: {{sdata.school}}</p>

                    <h3>Code of Conduct</h3>
                    <p>By registering for this event, all attendees, speakers, sponsors and volunteers at HachSCHS have agreed with the following codes of conduct. Organisers will enforce these codes throughout the event. We expect cooperation from all participants to help ensure a safe environment for everyone.</p>
                    <p><a href="https://www.ccboe.com/ss/code-of-student-conduct/" target="_blank">CCPS Code of Student Conduct</a></p>
                    <p><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a></p>
                </div>
            </div>
        </div>
        <div id="smedia">
            <p>&copy; 2019-2020 HackSCHS | St. Charles High School</p>
        </div> 
    </div>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>