<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HackSCHS" content="24 hour hackathon for southern maryland high school students at St. Charles High School.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS 3rd Annual Hackathon</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="container-lg">
        <div id="header">
            <!--h1>hackSCHS</h1-->
        </div>
        <div id="nav">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <!--div class="container">
                
                </div-->
                <a class="navbar-brand" href="#main">hackSCHS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#sponsors">Sponsors</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="https://www.ccboe.com/schools/stcharles/" target="_blank">SCHS</a>
                        </li>
                    </ul>
                    <!--add social media logos here-->
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign-in
                            </a>
                            <!--div class="dropdown-menu" aria-labelledby="navbarDropdown"-->
                                            
                                <form class="dropdown-menu mx-sm-n5 p-3" id="loginForm" action="/login" method="post" >
                                    <h4>Login</h4>
                                    <!--add validation-->
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <p style="color: red">{{message}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    <div class="form-group">
                                        <label for="exampleDropdownFormEmail2">Email address</label>
                                        <input type="email" class="form-control" name="email" id="exampleDropdownFormEmail2">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDropdownFormPassword2">Password</label>
                                        <input type="password" class="form-control" name="password" id="exampleDropdownFormPassword2">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </form>
                            <!--/div-->
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="http://www.twitter.com/HackSCHS" target="_blank"><ion-icon size="medium" name="logo-twitter"></ion-icon></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://https://github.com/Tmstone/hackSCHS" target="_blank"><ion-icon size="medium" name="logo-github"></ion-icon></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <img src="{{ url_for('static', filename='img/discord-logo-white.png')}}" height="20" alt="discord white logo">
                            </a>
                        </li>
                    </ul>
                </div>      
            </nav>   
        </div>
        <div id="main">
            <h1>HackSCHS</h1>
            <img src="{{ url_for('static', filename='img/hackSCHS18.png') }}" alt="" width="75" height="175">
            <!--h3>February 29th - March 1st</h3-->
            <h3 class="h2">Coming Soon</h3>
                <p class="h3">Online | WINTER 2021</p>
                <p>St. Charles High School | Waldorf, MD</p>
                <!--h3>Registration Deadline: Monday, February 24th, 2020, 11:59 pm (Eastern)</h3-->
                    <button class="btn btn-primary" id="lBtn">Register</button>
                <p><a href="http://www.twitter.com/HackSCHS"><ion-icon size="large" name="logo-twitter"></ion-icon></a></p>
                <p><a href="http://https://github.com/Tmstone/hackSCHS"><ion-icon size="large" name="logo-github"></ion-icon></a></p>    
                <p>Interested in sponsoring us? View our prospectus <a href="https://spark.adobe.com/page/OXIVYLoCPUk8N/" target="_blank">here</a>. </p>
        </div>
        <div id="about">
            <h1>About:</h1>
                <p>HackSCHS is a 24-hour programming marathon for innovative, and creative, and inspired students with interests ranging from the fine arts, engineering, computer and medical science to design and implement a software or hardware application. Sponsors provide specific themes and challenges, and competitors take them on. This will be the third hackathon organized at St. Charles High School for high school students in southern Maryland.</p>    
        </div>
        <div id="faq">
            <h1>FAQ:</h1>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Will this year's hackathon be different due to the COVID-19 pandemic?
                            </button>
                        </h3>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            This year, we are still planning on offering all the same perks and excitement as previous years. However, we are going completely virtual in order to follow coronavirus safety guidelines. All communication throughout the event will be done Virtually, our Discord workspace, and Zoom video conferencing. We will be sending out specifics of the platform closer to the event.
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="mb-0">
                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How long is the hackathon?
                            </button>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            This online event takes place over 48 hours. That's Friday, February 29, at 4:00 pm to Sunday, March 1st, at 12:00pm. 
                        </div>
                    </div>
                </div>

            </div>
            <h3>Will this year's hackathon be different due to the COVID-19 pandemic?</h3>
            <p>This year, we are3still planning on offering all the same perks and excitement as previous years. However, we are going completely virtual in order to follow coronavirus safety guidelines. All communication throughout the event will be done Virtually, our Discord workspace, and Zoom video conferencing. We will be sending out specifics of the platform closer to the event.</p>
            <h3>How long is the hackathon?</h3>
            <p>This online event takes place over 48 hours. That's Friday, February 29, at 4:00 pm to Sunday, March 1st, at 12:00pm.</p>
            <h3>Do I need to know how to code?</h3>
            <p>This is a great oppurtunity to learn something new. There will be workshops for beginners and peer mentors to help you during the event.</p>
            <h3>Do I need a computer?</h3>
            <p>You will need a computer to build your projects. You can bring your personal device. We will also have desktops and laptops available for you sign out.</p>
            <h3>What if I don't have a group?</h3>
            <p>Teams should be no more than <em>Four</em> people. If you dont have a team, we will help you find partners. However, if groups aren't your thing, you can work solo.</p>
            <h3>Can I bring tech?</h3>
            <p>Bringing your own tech is not necessary. We will have on hand a variety of tech hardware available to all hackers.</p>
            <h3>Will I learn new stuff?</h3>
            <p>You have to oppurtunity to build anything! Web, Mobile, Medical, Desktoop and hardware projects are all welcome. Challenge projects will be judged based on creativity, technical difficulty, and usefullness.</p>
            <h3>Will there be prizes?</h3>
            <p>During the opening ceremony, you will be presented with challenges. One team will be awarded for the best solution for a challenge. Challenges prizes are donated by our hackathon sponsors.</p>
            <h3>I have more questions!</h3>
            <p>You can get in touch with us via tstone@ccboe.com, or <a href="http://www.twitter.com/HackSCHS">Twitter</a>.</p>
        </div>
        <div id="sponsors">
            <h1>Sponsors:</h1>
            <img src="{{ url_for('static', filename='img/ctelogo.png') }}" alt="Charles County Public Schools CTE logo" width="155" height="200">  
            <img src="{{ url_for('static', filename='img/mlh-localhost-logo-dark.png')}}" alt="mlh-localhost-logo-dark" width="200">
        </div>
        <div id="smedia">
                <p><a href="http://www.twitter.com/HackSCHS"><ion-icon size="large" name="logo-twitter"></ion-icon></a></p>
                <p><a href="http://https://github.com/Tmstone/hackSCHS"><ion-icon size="large" name="logo-github"></ion-icon></a></p>
                <p><a href="#">Devpost</a></p>
                <!--p><a href="#">Discord</a></p-->
                <p><a href="https://www.ccboe.com/schools/stcharles/" target="_blank">SCHS</a></p>
                <p class="bottom">&copy; 2019-2020 HackSCHS | St. Charles High School</p>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>