<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS 3rd Annual Hackathon</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>HackSCHS</h1>
        </div>
        <div id="nav">
             <ul>
                 <li><a href="#"></a>About</li>
                 <li><a href="#"></a>FAQ</li>
                 <li><a href="#"></a>SCHS</li>
                 <li><a href="#"></a>Sponsors</li>
                 <li><a href="#"></a>Social Media</li>
             </ul>
        </div>
        <div id="main">
            <h1>HackSCHS</h1>
            <h3>February 29th - March 1st</h3>
                <p>WINTER 2020</p>
                <p>St. Charles High School | Waldorf, MD</p>
                    <button>Sign-in</button>
                    <button>Register</button>
                <p>Intersted in sponsoring us? View our prospectus <a href="#">here</a>. </p>
        </div>
        <div id="about">
            <h2>About:</h2>
                <p></p>    
        </div>
        <div id="faq">
            <h2>FAQ:</h2>
            <p>question 1</p>
            <p>question 2</p>
            <p>question 3</p>
            <p>question 4</p>
            <p>question 5</p>
            <p>question 6</p>
        </div>
        <div id="sponsors">
            <h2>Sponsors:</h2>    
        </div>
        <div id="smedia">
                <p>Twitter</p>
                <p>GitHub</p>
                <p>Devpost</p>
                <p>Discord</p>
                <p>&copy; 2019 St. Charles High School</p>
        </div>
    </div>
</body>
</html>