<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackSCHS | Register</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>HackSCHS | Registration</h1>
        </div>
        <div id="nav">
            <ul>
                <li>Dashboard</li>
                <li>Application</li>
                <li>Logout</li>
            </ul>
        </div>
        <div id="section">
            <h2>Application</h2>
            <h3>Basic Information</h3>
                <p class="red">*Required</p> 
            <form action="">
                
                <label for="name">Full Name*</label>
                <input type="text" class="" name="name" value="">
                
                <label for="email">Email*</label>
                <input type="text" class="" name="email" value="">

                <label for="phone">Phone*</label>
                <p>We need this in case we have to urgently contact you!</p>
                <input type="text" class="" name="phone" value="">

                <label for="parent">Parent Name*</label>
                <input type="text" class="" name="parent" value="">

                <label for="pphone">Parent Phone*</label>
                <input type="text" class="" name="pphone" value="">

                <label for="bday">Date of Birth*</label>
                <input type="text" class="" name="bday" value="">

                <label for="race">Race/Ethnicity*</label>
                <p>Please select all that apply</p>
                <select name="race" id="">
                        <option value="asian">Asian | Pacific Islander</option>
                        <option value="black">Black or African American</option>
                        <option value="hispanic">Hispanic</option>
                        <option value="native">Native American</option>
                        <option value="white">White | Caucasian</option>
                        <option value="multi">Multiracial</option>
                        <option value="no">Prefer not to Answer</option>
                </select>

                <label for="school">School*</label>
                <input type="text" class="" name="school" value="">

                <label for="graduation">Graduation Year*</label>
                <input type="text" class="" name="graduation" value="">

                <label for="career">Career Goal</label>
                <input type="text" class="" name="career" value="">

                <label for="goal">What would you like to learn or gain while attending HackSCHS?</label>
                <textarea name="gaol" rows="10" cols="30"></textarea>

                <h3>Bonus Questions</h3>
                <!-- Bonus Questions -->
                <label for="language">What's your favorite langauge?</label>
                <input type="text" class="" name="language" value="">   

                <label for="hobby">What's your favorite hobby?</label>
                <input type="text" class="" name="hobby" value="">

                <label for="game">What's your favorite game?</label>
                <input type="text" class="" name="game" value="">

                <h3>Legal</h3>
                <!-- Legal information -->
                
                <!-- add information for MLH hackathon guidelines -->
                <!-- add link for CCPS Student Code of Conduct -->
                <p>Upon registering for this event, you will receive emails regarding your event registration, updates about the event, and other information specific to your participation in this event.
                        By submitting your details, you agree to the Athlinks Terms of Use and Athlinks Privacy Policy, including our use of cookies.</p>
            </form>
            
        </div>
        <p>&copy; 2019 St. Charles High School</p>
    </div>
</body>
</html>